/*----------------------------
全体
----------------------------*/
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

header{
  background-color: yellow;
  height: 15%;
}

div{
  float: left;
}
#one, #two, #three{
  height: 85%;
}
#one{
  width: 33%;
  background-color: lightgreen;
}
#two{
  width: 34%;
  background-color: red;
}
#three{
  width: 33%;
  background-color: skyblue;
}
