/*----------------------------
全体
----------------------------*/
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
img{
  width: 30%;
  height: auto;
}



/* サイトのコピペ */
.list{
	margin: 50px 50px 50px 50px;
	list-style-type: none;
	overflow: hidden;
}
.list li{
	margin: 50px 20px 50px 20px;
	float: left;
	transition: .8s;
}

.list-mv02{
	opacity: 0;
}
.mv02{
	opacity: 1.0;
}
