/*----------------------------
全体
----------------------------*/
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}
section{
  text-align: center;
}
p, h1{
  width: 49%;
}
p#output{
  width: 100%;
}
p:nth-child(2n+1), h1:nth-child(2n+1){
  float: right;
  text-align: left;
}
p:nth-child(2n), h1:nth-child(2n){
  float: left;
  text-align: right;
}
p:last-child{
  width: 100%;
  text-align: center;
}
